
a{
    text-decoration: none;
    color: goldenrod;
}

body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

iframe{
    margin: 10px;
}


.blackText{
    color: #232323;
}

.footerImg{
    width: 25%;
}

.landingImg{
    width: 50%;
}

.one{
    background-image: url("./OverwatchJumboAlt.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-color: rgba(100,100,100,.2);
    background-size: cover; 
}

.pageHeader{
    visibility: hidden;
}

.section {
    display: flex;
    text-align:center;
    align-items: center;
}

.text{
    font-size: 1.5rem;
}

.textBox{
    padding: 1% 8%;
    margin: 1% 10%;
    color: #fff;
    /* background-color: #232323; */
    background-color: rgba(35,35,35,.9);
    border-radius: 20px;
    border: 2px solid goldenrod
}

.whiteText{
    color: #fff;
}

.youtubeWrapper{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    iframe{
        margin: 2rem;
    }
    .footerImg{
        width: 70%;
    }
    .landingImg{
        width: 90%;
    }
    .text {
      font-size: 1rem;
    }
  }
